@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: "Lalezar";
        src: local("Lalezar"), url("/public/fonts/Lalezar-Regular.woff2") format("woff2");
    }

    :root {
        --white: #fff;
        --white-50: #f0f0f0;
        --blue: #471AAA;
    }

    *,
    body,
    html {
        font-family: Lalezar, sans-serif;
    }

    body {
        background-color: rgba(25, 118, 210, 0.07);
    }

    .sidebar-active-item {
        background-color: #391588;
    }

    .search-box-shadow {
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    }

}